*{box-sizing: border-box; font-family: Helvetica, sans-serif;}
body, html{
	padding: 0;
	margin: 0;
}

.deck-container > div {
	margin: 10px 0px;
}
.generic-text-readout {
	z-index: 100;
	position: relative;
}

.deck-container {
	color: white;
background: #373737; /* Old browsers */
background: -moz-linear-gradient(-45deg, #373737 0%, #222222 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#373737), color-stop(100%,#222222)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #373737 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #373737 0%,#222222 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #373737 0%,#222222 100%); /* IE10+ */
background: linear-gradient(-45deg, #373737 0%,#222222 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#222222',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.metronome-flasher {
	height: 18px;
	line-height: 18px;
	border: 1px solid black;
	color: black;
	background: #202020;
}

.metronome-bar-progressbar {
	height: 16px;
	border-radius: 0 2px 2px 0;
	background: #dedef4; /* Old browsers */
	border-right: 1px solid white;
background: -moz-linear-gradient(top, #dedef4 0%, #c5c2e8 50%, #9d9ad8 50%, #cecaf8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedef4), color-stop(50%,#c5c2e8), color-stop(50%,#9d9ad8), color-stop(100%,#cecaf8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #dedef4 0%,#c5c2e8 50%,#9d9ad8 50%,#cecaf8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #dedef4 0%,#c5c2e8 50%,#9d9ad8 50%,#cecaf8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #dedef4 0%,#c5c2e8 50%,#9d9ad8 50%,#cecaf8 100%); /* IE10+ */
background: linear-gradient(top, #dedef4 0%,#c5c2e8 50%,#9d9ad8 50%,#cecaf8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedef4', endColorstr='#cecaf8',GradientType=0 ); /* IE6-9 */
	
}

.cuePoint {
	border: 1px solid white;
	background: silver !important;
	cursor: pointer;
}
.cuePoint:hover {
	border: 1px solid blue;
	background: white;
}

