button {
	line-height: 44px;
	border-radius: 3px;
	box-shadow: 3px 3px 16px -3px #332d3b;
	text-shadow: 1px 1px 0px white;
	padding: 2px 16px;
	border: 1px solid rgba(0,0,0,.75);
	font-size: 28px;
	cursor: pointer;
	text-align: center;
}

button:hover {
	box-shadow: 3px 3px 16px -3px rgba(0,0,0, 1);
	border: 1px solid rgba(255,255,255,.25);
}
button:active {
	border: 1px solid rgba(0,0,0,.25);
}
.button-green {
	background: #69de37;
background: -moz-linear-gradient(-45deg,  #69de37 0%, #8aeb4c 52%, #6bdf34 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#69de37), color-stop(52%,#8aeb4c), color-stop(100%,#6bdf34));
background: -webkit-linear-gradient(-45deg,  #69de37 0%,#8aeb4c 52%,#6bdf34 100%);
background: -o-linear-gradient(-45deg,  #69de37 0%,#8aeb4c 52%,#6bdf34 100%);
background: -ms-linear-gradient(-45deg,  #69de37 0%,#8aeb4c 52%,#6bdf34 100%);
background: linear-gradient(135deg,  #69de37 0%,#8aeb4c 52%,#6bdf34 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69de37', endColorstr='#6bdf34',GradientType=1 );

}


.button-red {
	background: #f43722;
background: -moz-linear-gradient(-45deg,  #f43722 0%, #f8413e 52%, #f43120 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f43722), color-stop(52%,#f8413e), color-stop(100%,#f43120));
background: -webkit-linear-gradient(-45deg,  #f43722 0%,#f8413e 52%,#f43120 100%);
background: -o-linear-gradient(-45deg,  #f43722 0%,#f8413e 52%,#f43120 100%);
background: -ms-linear-gradient(-45deg,  #f43722 0%,#f8413e 52%,#f43120 100%);
background: linear-gradient(135deg,  #f43722 0%,#f8413e 52%,#f43120 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f43722', endColorstr='#f43120',GradientType=1 );

}

.slider-control-value-readout, .rotary-control-param-label, .slider-control-param-label {
	float: right;
	background: hsl(180, 2%, 13%);
	color: hsl(0, 0%, 95%);
	border-radius: 3px;
	display: inline-block;
	padding: 0px 6px;
	line-height: 120%;
	text-shadow: 0px -1px 1px hsla(0, 100%, 100%, 0.33);
}
.slider-control-param-label {
	float: left;
}
.slider-control-value-readout {
	display: inline-block;
	float: right;
}
.rotary-control-value-readout {
float: right;
clear: both;
}
.rotary-knob-ui-control{
	background: -moz-linear-gradient(45deg,  rgba(147,155,148,0.77) 0%, rgba(51,53,52,0.8) 20%, rgba(51,53,52,0.91) 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(147,155,148,0.77)), color-stop(20%,rgba(51,53,52,0.8)), color-stop(100%,rgba(51,53,52,0.91)));
	background: -webkit-linear-gradient(45deg,  rgba(147,155,148,0.77) 0%,rgba(51,53,52,0.8) 20%,rgba(51,53,52,0.91) 100%);
	background: -o-linear-gradient(45deg,  rgba(147,155,148,0.77) 0%,rgba(51,53,52,0.8) 20%,rgba(51,53,52,0.91) 100%);
	background: -ms-linear-gradient(45deg,  rgba(147,155,148,0.77) 0%,rgba(51,53,52,0.8) 20%,rgba(51,53,52,0.91) 100%);
	background: linear-gradient(45deg,  rgba(147,155,148,0.77) 0%,rgba(51,53,52,0.8) 20%,rgba(51,53,52,0.91) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4939b94', endColorstr='#e8333534',GradientType=1 );
	border-radius: 100%;
	border: 1px solid black;
	height: 32px; width: 32px;
	margin: 3px 0;
	display: inline-block;
}

.rotary-control-container {
	padding: 2px 2px;
}

div.rotary-knob-ui-control:after {
background: rgba(255,255,255, 0.85);
content: '';
display: block;
-webkit-transform: rotate(0deg);
position: absolute;
top: 14px;
left: 0px;
border: 1px ridge rgba(0,0,0,.25);
color: hsl(0, 100%, 100%);
height: 2px;
width: 14px;
border-radius: 5px 6px 6px 5px;
}