button {
	line-height: 44px;
	border-radius: 2px;
	box-shadow: 3px 3px 16px -3px #332d3b;
	text-shadow: 1px 1px 0px white;
	padding: 2px 16px;
	border: 1px solid rgba(0,0,0,.75);
	font-size: 28px;
	cursor: pointer;
	text-align: center;
}

button:hover {
	box-shadow: 3px 3px 16px -3px rgba(0,0,0, 1);
	border: 1px solid rgba(255,255,255,.25);
}
button:active {
	border: 1px solid rgba(0,0,0,.25);
}
.button-green {
	background: #69de37;
background: -moz-linear-gradient(-45deg,  #69de37 0%, #8aeb4c 52%, #6bdf34 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#69de37), color-stop(52%,#8aeb4c), color-stop(100%,#6bdf34));
background: -webkit-linear-gradient(-45deg,  #69de37 0%,#8aeb4c 52%,#6bdf34 100%);
background: -o-linear-gradient(-45deg,  #69de37 0%,#8aeb4c 52%,#6bdf34 100%);
background: -ms-linear-gradient(-45deg,  #69de37 0%,#8aeb4c 52%,#6bdf34 100%);
background: linear-gradient(135deg,  #69de37 0%,#8aeb4c 52%,#6bdf34 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69de37', endColorstr='#6bdf34',GradientType=1 );

}


.button-red {
	background: #f43722;
background: -moz-linear-gradient(-45deg,  #f43722 0%, #f8413e 52%, #f43120 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f43722), color-stop(52%,#f8413e), color-stop(100%,#f43120));
background: -webkit-linear-gradient(-45deg,  #f43722 0%,#f8413e 52%,#f43120 100%);
background: -o-linear-gradient(-45deg,  #f43722 0%,#f8413e 52%,#f43120 100%);
background: -ms-linear-gradient(-45deg,  #f43722 0%,#f8413e 52%,#f43120 100%);
background: linear-gradient(135deg,  #f43722 0%,#f8413e 52%,#f43120 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f43722', endColorstr='#f43120',GradientType=1 );

}

.slider-control-value-readout, .rotary-control-param-label, .slider-control-param-label {
	float: right;
	background: hsl(180, 2%, 13%);
	color: hsl(0, 0%, 95%);
	border-radius: 3px;
	display: inline-block;
	padding: 0px 6px;
	line-height: 120%;
	text-shadow: 0px -1px 1px hsla(0, 100%, 100%, 0.33);
}
.slider-control-param-label {
	float: left;
}
.slider-control-value-readout {
	display: inline-block;
	float: right;
}
.rotary-control-value-readout {
float: right;
clear: both;
font-size: 110%;
font-weight: bold;
padding: 14PX 0PX;
text-shadow: 1px 1px 0 black;
color: hsla(0, 0%, 73%, 0.9);
text-align: right;
}
.rotary-knob-ui-control{
	display: block;
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(147,155,148,0.77)), color-stop(20%,rgba(51,53,52,0.8)), color-stop(100%,rgba(51,53,52,0.91)));
	background: -webkit-linear-gradient(45deg,  rgba(147,155,148,0.77) 0%,rgba(51,53,52,0.8) 20%,rgba(51,53,52,0.91) 100%);
	background: -o-linear-gradient(45deg,  rgba(147,155,148,0.77) 0%,rgba(51,53,52,0.8) 20%,rgba(51,53,52,0.91) 100%);
	background: -ms-linear-gradient(45deg,  rgba(147,155,148,0.77) 0%,rgba(51,53,52,0.8) 20%,rgba(51,53,52,0.91) 100%);
	background: linear-gradient(45deg,  rgba(147,155,148,0.77) 0%,rgba(51,53,52,0.8) 20%,rgba(51,53,52,0.91) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4939b94', endColorstr='#e8333534',GradientType=1 );
	border-radius: 100%;
	border: 1px solid black;
	height: 30px; 
	width: 30px;
	box-sizing: initial;
	float: left;
	margin: 8px;
}
.button-yellow {
	background: #b2f422;
	background: -moz-linear-gradient(top,  #b2f422 0%, #cdf83e 52%, #b4f420 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2f422), color-stop(52%,#cdf83e), color-stop(100%,#b4f420));
	background: -webkit-linear-gradient(top,  #b2f422 0%,#cdf83e 52%,#b4f420 100%);
	background: -o-linear-gradient(top,  #b2f422 0%,#cdf83e 52%,#b4f420 100%);
	background: -ms-linear-gradient(top,  #b2f422 0%,#cdf83e 52%,#b4f420 100%);
	background: linear-gradient(to bottom,  #b2f422 0%,#cdf83e 52%,#b4f420 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2f422', endColorstr='#b4f420',GradientType=0 );

}
.button-orange {
	background: #f4b922;
background: -moz-linear-gradient(top,  #f4b922 0%, #f8b43e 52%, #f4b420 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4b922), color-stop(52%,#f8b43e), color-stop(100%,#f4b420));
background: -webkit-linear-gradient(top,  #f4b922 0%,#f8b43e 52%,#f4b420 100%);
background: -o-linear-gradient(top,  #f4b922 0%,#f8b43e 52%,#f4b420 100%);
background: -ms-linear-gradient(top,  #f4b922 0%,#f8b43e 52%,#f4b420 100%);
background: linear-gradient(to bottom,  #f4b922 0%,#f8b43e 52%,#f4b420 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4b922', endColorstr='#f4b420',GradientType=0 );

}
.button-pink {
	background: #f42299;
background: -moz-linear-gradient(top,  #f42299 0%, #f83eb7 52%, #f4209c 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f42299), color-stop(52%,#f83eb7), color-stop(100%,#f4209c));
background: -webkit-linear-gradient(top,  #f42299 0%,#f83eb7 52%,#f4209c 100%);
background: -o-linear-gradient(top,  #f42299 0%,#f83eb7 52%,#f4209c 100%);
background: -ms-linear-gradient(top,  #f42299 0%,#f83eb7 52%,#f4209c 100%);
background: linear-gradient(to bottom,  #f42299 0%,#f83eb7 52%,#f4209c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f42299', endColorstr='#f4209c',GradientType=0 );

}
.button-purple {
	background: #cb2beb;
background: -moz-linear-gradient(top,  #cb2beb 0%, #c546f0 52%, #c72aea 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb2beb), color-stop(52%,#c546f0), color-stop(100%,#c72aea));
background: -webkit-linear-gradient(top,  #cb2beb 0%,#c546f0 52%,#c72aea 100%);
background: -o-linear-gradient(top,  #cb2beb 0%,#c546f0 52%,#c72aea 100%);
background: -ms-linear-gradient(top,  #cb2beb 0%,#c546f0 52%,#c72aea 100%);
background: linear-gradient(to bottom,  #cb2beb 0%,#c546f0 52%,#c72aea 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb2beb', endColorstr='#c72aea',GradientType=0 );

}

.button-blue {
	background: #2b3feb;
background: -moz-linear-gradient(top,  #2b3feb 0%, #4665f0 52%, #2a40ea 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b3feb), color-stop(52%,#4665f0), color-stop(100%,#2a40ea));
background: -webkit-linear-gradient(top,  #2b3feb 0%,#4665f0 52%,#2a40ea 100%);
background: -o-linear-gradient(top,  #2b3feb 0%,#4665f0 52%,#2a40ea 100%);
background: -ms-linear-gradient(top,  #2b3feb 0%,#4665f0 52%,#2a40ea 100%);
background: linear-gradient(to bottom,  #2b3feb 0%,#4665f0 52%,#2a40ea 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3feb', endColorstr='#2a40ea',GradientType=0 );

}
.button-sky {
	background: #2b9eeb;
background: -moz-linear-gradient(top,  #2b9eeb 0%, #46baf0 52%, #2aa0ea 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b9eeb), color-stop(52%,#46baf0), color-stop(100%,#2aa0ea));
background: -webkit-linear-gradient(top,  #2b9eeb 0%,#46baf0 52%,#2aa0ea 100%);
background: -o-linear-gradient(top,  #2b9eeb 0%,#46baf0 52%,#2aa0ea 100%);
background: -ms-linear-gradient(top,  #2b9eeb 0%,#46baf0 52%,#2aa0ea 100%);
background: linear-gradient(to bottom,  #2b9eeb 0%,#46baf0 52%,#2aa0ea 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b9eeb', endColorstr='#2aa0ea',GradientType=0 );

}
.button-neongreen {
background: #32f620;
background: -moz-linear-gradient(top,  #32f620 0%, #5cf93d 52%, #34f61e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#32f620), color-stop(52%,#5cf93d), color-stop(100%,#34f61e));
background: -webkit-linear-gradient(top,  #32f620 0%,#5cf93d 52%,#34f61e 100%);
background: -o-linear-gradient(top,  #32f620 0%,#5cf93d 52%,#34f61e 100%);
background: -ms-linear-gradient(top,  #32f620 0%,#5cf93d 52%,#34f61e 100%);
background: linear-gradient(to bottom,  #32f620 0%,#5cf93d 52%,#34f61e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32f620', endColorstr='#34f61e',GradientType=0 );

}